<div class="navbar p-0">
    <header>
        <div class="centerHeader gap-5">
            <div class="email flex  gap-3 ">
                <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                <a href="mailto:info@example.com">infoexample.com</a>
            </div>
            <div class="phone flex gap-3">
                <span class="icon"><i class="fa-solid fa-phone-volume"></i></span>
                <a href="tel:+1234567890">+1 234 567 890</a>
            </div>

        </div>
        <div class="centerHeader  gap-5">

            <div class="phone flex gap-3">
                <span class="icon"><i class="fa-regular fa-user"></i></span>
                <a href="">Login</a>
            </div>
            <div class="phone flex gap-3">
                <span><i class="fa-solid fa-cart-shopping"></i></span>
                
                
            </div>
        </div>
    </header>

    <nav>
        <div class="logo">
            <h3>Hekto</h3>
        </div>
        <div class="navList">
            <ul class="d-flex  align-items-center gap-4">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="searchInput">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fa-solid fa-search"></i></button>
        </div>
    </nav>
</div>